body {
  background: url("bgimage.png");
}

html,body, #root ,.App, .container , .container > .row{
  height: 100%;
}

table td{
  border: 1px white  solid;
}

.number{
  text-align: center;
  color: black;
  background-color: white;
  border: 1px solid #333;
  font-size: 60px;
}

.number.blank{
  background-color: black;
}